# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# `tmp` matches `tmp` (file), `tmp/` (directory), `a/tmp`, `a/tmp/`
# `/tmp` matches `tmp`, `tmp/`, but not `a/tmp`, `a/tmp/`
# `tmp/` matches `tmp/`, `a/tmp/`, but not `tmp`, `a/tmp`
# `/tmp/` matches `tmp/`, but not `tmp`, `a/tmp`, `a/tmp/`

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# draft
draft/
/assets
/tmp
RESEARCH.md

# vscode
/.vscode

# PWA
/public/sw.js*
/public/workbox-*.js*
