---
import { getCollection } from 'astro:content'
import BlogCard from '@components/ArticleCard.astro'
import BlogSidebar from '@components/ArticleSidebar.astro'
import SearchField from '@components/SearchField.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { defaultLocale } from '@lib/utils'

export { getLocalizedStaticPaths as getStaticPaths } from '@lib/utils'

const translations = {
  en: {
    title: 'Search | Han Lin',
    pageTitleBadge: 'Explore My Work',
    pageTitle: 'Site Search',
    description:
      'Looking for something specific? Enter your keywords to delve into my portfolio of innovative solutions, research findings, and technical expertise at the intersection of AI, bioinformatics, and electronics.',
    noArticlesFound: 'No articles found.',
    pagefind: {
      placeholder: 'Search',
      clear_search: 'Clear',
      load_more: 'Load more results',
      search_label: 'Search this site',
      filters_label: 'Filters',
      zero_results: 'No results for [SEARCH_TERM]',
      many_results: '[COUNT] results for [SEARCH_TERM]',
      one_result: '[COUNT] result for [SEARCH_TERM]',
      alt_search: 'No results for [SEARCH_TERM]. Showing results for [DIFFERENT_TERM] instead',
      search_suggestion: 'No results for [SEARCH_TERM]. Try one of the following searches:',
      searching: 'Searching for [SEARCH_TERM]...',
    },
  },
  tw: {
    title: '搜尋 | 林翰',
    pageTitleBadge: '探索我的作品',
    pageTitle: '全站搜尋',
    description:
      '尋找特定主題？請在搜尋欄位輸入關鍵字，探索我的作品集，一覽本人在人工智慧 (AI)、生物資訊學 及電子學等跨領域整合中的各項創新解決方案、研究成果與專業技術。',
    noArticlesFound: '目前沒有文章。',
    pagefind: {
      placeholder: '輸入關鍵字搜尋',
      clear_search: '清除',
      load_more: '載入更多結果',
      search_label: '搜尋本站內容',
      filters_label: '篩選條件',
      zero_results: '找不到與「[SEARCH_TERM]」相符的結果',
      many_results: '找到 [COUNT] 筆與「[SEARCH_TERM]」相符的結果',
      one_result: '找到 [COUNT] 筆与「[SEARCH_TERM]」相符的結果',
      alt_search: '找不到與「[SEARCH_TERM]」相符的結果。改為顯示「[DIFFERENT_TERM]」的搜尋結果',
      search_suggestion: '找不到與「[SEARCH_TERM]」相符的結果。建議嘗試以下關鍵字：',
      searching: '正在搜尋「[SEARCH_TERM]」...',
    },
  },
}
const { locale } = Astro.params
const currentLocale = (locale || defaultLocale) as keyof typeof translations
const t = (key: keyof (typeof translations)[typeof currentLocale]) => {
  return translations[currentLocale]?.[key] || translations['en']?.[key]
}
---

<BaseLayout title={t('title') as string} description={t('description') as string}>
  <section class="md:py-2">
    <div class="container px-4 md:px-6">
      <div class="animate-fade-in-up mx-auto max-w-3xl transition duration-500">
        <div class="mb-8 space-y-4 text-center">
          <div
            class="dark:bg-accent dark:text-accent-foreground bg-accent text-accent-foreground inline-flex items-center rounded-lg px-3 py-1 text-sm font-medium"
          >
            {t('pageTitleBadge')}
          </div>
          <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
            {t('pageTitle')}
          </h1>
          <p class="text-muted-foreground mb-12 md:text-xl">{t('description')}</p>
        </div>
      </div>
      <SearchField
        id="search-form"
        className="pagefind-ui"
        uiOptions={{
          showImages: false,
          autofocus: true,
          translations: t('pagefind'),
        }}
      />
    </div>
  </section>
</BaseLayout>

<style></style>
