---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { Card, CardContent, CardHeader, CardTitle } from '@components/ui/card'
import { defaultLocale } from '@lib/i18n'
import CategoryBadge from './CategoryBadge.astro'
import SearchCard from './SearchCard.astro'
import TagBadge from './TagBadge.astro'

const { locale } = Astro.params
const currentLocale = locale ?? defaultLocale
const translations = {
  en: {
    'sidebar.search': 'Site Search',
    'sidebar.search.placeholder': 'Search',
    'sidebar.categories': 'Article Categories',
    'sidebar.tags': 'Article Tags',
    'sidebar.search.sr': 'Search',
  },
  tw: {
    'sidebar.search': '全站搜尋',
    'sidebar.search.placeholder': '輸入關鍵字搜尋',
    'sidebar.categories': '文章主題',
    'sidebar.tags': '文章標籤',
    'sidebar.search.sr': '搜尋',
  },
}
const t = (key: string) => {
  const locale = currentLocale as keyof typeof translations
  return translations[locale]?.[key as keyof (typeof translations)[typeof locale]] || key
}

interface ArticleCategory {
  name: string
  count: number
}

interface ArticleTag {
  name: string
  count: number
}

interface Props {
  categories: ArticleCategory[]
  tags: ArticleTag[]
}

const { categories, tags } = Astro.props
const searchUrl = getRelativeLocaleUrl(currentLocale, '/search?q=')
// console.log('searchUrl', searchUrl)
---

<div class="space-y-6">
  <SearchCard />
  <Card className="gap-4">
    <CardHeader>
      <CardTitle>{t('sidebar.categories')}</CardTitle>
    </CardHeader>
    <CardContent>
      <div class="flex flex-wrap gap-2">
        {
          categories.map((category) => (
            <CategoryBadge category={category.name} count={category.count} />
          ))
        }
      </div>
    </CardContent>
  </Card>
  <Card className="gap-4">
    <CardHeader>
      <CardTitle>{t('sidebar.tags')}</CardTitle>
    </CardHeader>
    <CardContent>
      <div class="flex flex-wrap gap-2">
        {tags.map((tag) => <TagBadge tag={tag.name} count={tag.count} />)}
      </div>
    </CardContent>
  </Card>
</div>

<script></script>

<style></style>
