---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { Search } from 'lucide-react'
import { Button } from '@components/ui/button'
import { Card, CardContent, CardHeader, CardTitle } from '@components/ui/card'
import { Input } from '@components/ui/input'
import { defaultLocale } from '@lib/utils'
import CategoryBadge from './CategoryBadge.astro'
import SearchCard from './SearchCard.astro'

const { locale } = Astro.params
const currentLocale = locale ?? defaultLocale
const translations = {
  en: {
    'sidebar.search': 'Site Search',
    'sidebar.search.placeholder': 'Search',
    'sidebar.categories': 'Project Categories',
    'sidebar.search.sr': 'Search',
  },
  tw: {
    'sidebar.search': '全站搜尋',
    'sidebar.search.placeholder': '輸入關鍵字搜尋',
    'sidebar.categories': '專案主題',
    'sidebar.search.sr': '搜尋',
  },
}
const t = (key: string) => {
  const locale = currentLocale as keyof typeof translations
  return translations[locale]?.[key as keyof (typeof translations)[typeof locale]] || key
}

interface ProjectCategory {
  name: string
  count: number
}

interface Props {
  categories: ProjectCategory[]
}

const { categories } = Astro.props
const searchUrl = getRelativeLocaleUrl(currentLocale, '/search?q=')
console.log('searchUrl', searchUrl)
---

<div class="space-y-6">
  <SearchCard />
  <Card className="gap-4">
    <CardHeader>
      <CardTitle>{t('sidebar.categories')}</CardTitle>
    </CardHeader>
    <CardContent>
      <div class="flex flex-wrap gap-2">
        {
          categories.map((category) => (
            <CategoryBadge
              type="projects"
              category={category.name}
              count={category.count}
              className="bg-accent text-accent-foreground hover:bg-accent/80"
            />
          ))
        }
      </div>
    </CardContent>
  </Card>
</div>

<script></script>

<style></style>
