---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { cn } from '@/lib/utils'
import { Badge } from '@components/ui/badge'
import { defaultLocale, slugify, useTranslations } from '@lib/i18n'

interface Props {
  tag: string
  count?: number
  className?: string
}

const { locale } = Astro.params
const currentLocale = locale || defaultLocale
const { tag, count, className } = Astro.props
const t = useTranslations(currentLocale, 'tags')
const tagSlug = slugify(tag)
---

<a href={getRelativeLocaleUrl(currentLocale, `/articles/tag/${encodeURIComponent(tagSlug)}`)}>
  <Badge variant="outline" className={cn('hover:bg-accent/20 text-sm', className)}>
    #{t(tagSlug)}
    {count !== undefined && <span class="">({count})</span>}
  </Badge>
</a>
