---
import type { Locale } from '@lib/utils'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { Award } from 'lucide-react'
import CertificationCard from '@components/CertificationCard.astro'
import CertificationOrganizationsFilter from '@components/CertificationOrganizationsFilter.astro'
import SkillBadge from '@components/SkillBadge.astro'
import { Link } from '@components/ui/link'
import BaseLayout from '@layouts/BaseLayout.astro'
import { brands } from '@lib/data'
import { defaultLocale, locales, slugify, useTranslations } from '@lib/utils'
import {
  certifications,
  translations as parentTranslations,
} from '@pages/certifications/index.astro'

export { getLocalizedStaticPaths as getStaticPaths } from '@lib/utils'
const { locale, skill } = Astro.params
const currentLocale = (locale || defaultLocale) as Locale
const tc = useTranslations(currentLocale, 'skills')
const skillSlug = skill ? decodeURIComponent(skill) : ''

const pt = (key: keyof (typeof parentTranslations)[typeof currentLocale]) => {
  return parentTranslations[currentLocale]?.[key] || parentTranslations['en']?.[key]
}
const translations = {
  en: {
    title: `Skills | Certifications | Han Lin`,
    pageTitleBadge: 'The Full Spectrum',
    pageTitle: `Validated Technical Proficiencies`,
    description: `This extensive list details the 323 distinct skills and technologies in which I've demonstrated proficiency through rigorous industry certification programs. Each skill represents validated knowledge underpinning my ability to design, develop, and deploy comprehensive solutions across AI, cloud platforms, cybersecurity, software engineering, and hardware.`,
    noSkillsFound: 'No skills found.',
  },
  tw: {
    title: `技能 | 國際認證 | 林翰`,
    pageTitleBadge: '完整範疇',
    pageTitle: `核實技術專業`,
    description: `下文為本人持有之 Google 、 Microsoft 、 AWS 及其他指標性科技機構認證所涵蓋的 323 項技術技能之完整列表。此詳細清單充分展現本人在技術理解上的深度與廣度，以及戮力維持頂尖專業的決心。`,
    noSkillsFound: '沒有找到技能。',
  },
}
const t = (key: keyof (typeof translations)[typeof currentLocale]) => {
  return translations[currentLocale]?.[key] || translations['en']?.[key]
}

// Extract skills
const skills = [
  ...new Set(certifications.flatMap((certification) => certification.data.skills || [])),
]
  .map((skill) => ({
    name: skill,
    certifications: certifications.filter((certification) =>
      certification.data.skills?.includes(skill)
    ),
  }))
  .sort((a, b) => {
    return b.certifications.length - a.certifications.length || a.name.localeCompare(b.name)
  })
---

<BaseLayout title={t('title')} description={t('description')}>
  <section class="md:py-2">
    <div class="container px-4 md:px-6">
      <div class="animate-fade-in-up mx-auto max-w-3xl transition duration-500">
        <div class="mb-8 space-y-4 text-center">
          <a
            href={getRelativeLocaleUrl(currentLocale, '/certifications')}
            class="dark:bg-accent dark:text-accent-foreground bg-accent text-accent-foreground inline-flex items-center rounded-lg px-3 py-1 text-sm font-medium"
          >
            {t('pageTitleBadge')}
          </a>
          <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
            {t('pageTitle')}
          </h1>
          <p class="text-muted-foreground mb-12 md:text-xl">{t('description')}</p>
        </div>
      </div>
      <div class="flex flex-wrap justify-center gap-3">
        {skills.map(({ name }) => <SkillBadge skill={name} variant={'outline'} class="" />)}
      </div>
    </div>

    <div class="mt-8 flex flex-wrap justify-center gap-2">
      <CertificationOrganizationsFilter orgs={brands} text={true} size="lg" />
      <div class="mt-2 flex flex-wrap justify-center gap-2">
        <Link
          href={getRelativeLocaleUrl(currentLocale, '/certifications')}
          variant={'outline'}
          className="flex h-11 items-center"
        >
          <Award className="size-6" />
          {pt('viewAllCertifications')}
        </Link>
      </div>
    </div>
  </section>
</BaseLayout>

<style></style>
